.Forecasts {
    text-align: center;
    color: #fff;
    background: transparent;
}

.forecastsWrapper {
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .forecastsWrapper {
        width: 450px;
        margin: 0 auto;
    }
}

.Forecasts .title {
    margin-bottom: -1rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h3 {
    font-weight: 400;
    text-transform: uppercase;
}

.title img {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}