.Auth {
    width: 90%;
    margin: 0 auto;
}

h3 {
    font-weight: 400;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
}

button {
    width: 100%;
    background-color: teal;
    color: #fff;
    border: none;
    margin: 2rem 0;
    padding: .7rem;
}