.Menu a {
  color: black;
  text-align: center;
  margin: 1rem 0;
  text-transform: uppercase;
  text-decoration: none;
}

.Menu a:first-of-type {
  margin-top: 5rem;
}

/* Position and sizing of burger button */

.bm-burger-button {
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  position: absolute;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #fff;
  height: 12% !important;
  border-radius: 10px;
  box-shadow: 2px 2px 4px grey;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #bdc3c7;
}

.bm-cross-button button {
  box-shadow: none;
}

/* General sidebar styles */

.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #102336;
  padding: 0.8em;
  font-size: 24px;
  font-family: Cronus_Round, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bm-item-list a span {
  display: block;
  font-size: 1rem;
  margin-top: -.2rem;
}

.bm-item-list a:hover {
  text-decoration: underline;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.logoburger {
  width: 200px;
  height: 125px;
  margin: 0 auto;
}

/* Global styles  */

button {
  width: 100%;
  color: #fff;
  border: none;
  margin: 2rem 0;
  padding: .4rem 1rem;
  font-weight: 500;
  background-color: #C60000;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  font-family: Cronus_Round, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 33px;
  border-bottom: 3px solid #7E0303;
  box-shadow: 3px 3px 3px gray;
}

h3, p, span {
  text-shadow: 1px 1px 1px lightgray;
}